.bigflex{
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 10px;
    background-color: rgb(176, 176, 176);
    border-radius: 30px;
}

.bigflex .photo{
    width: 50%;
    border-radius: 30px;
    padding: 2px;
}

.bigflex .smallflex{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(176, 176, 176);
    border-radius: 30px;
}

.bigflex .smallflex h1{
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10%;
}

.bigflex .smallflex h2{
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
}

.bigflex .smallflex h3{
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: auto;
    margin-top: 10px;
    font-size: xx-small;
}

.bigflex .smallflex .mlogo{
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: auto;
    width: 15%;
    border-radius: 100%;
    padding-bottom: 15px;
}

.menuflex{
    display: flex;
    width: 100%;
}

.menu{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 9px;
    border-radius: 20px;
}


.gridd{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


@media screen and (max-width: 639px) {

    .gridd{
        grid-template-columns: 1fr;
    }

    .menu{
        width: 96.1%;
    }

}
